<div class="payment-methods">
  <a class="payment-method__button" href="{% url 'payment_method_detail' 'transferencia' %}?next={{ request.path|urlencode }}">Transferencia bancaria</a>
  <a class="payment-method__button" href="{% url 'payment_method_detail' 'deposito' %}?next={{ request.path|urlencode }}">Depósito</a>
  <a class="payment-method__button" href="{% url 'payment_method_detail' 'efectivo' %}?next={{ request.path|urlencode }}">Efectivo al coordinar envío</a>
  <a class="payment-method__button" href="{% url 'payment_method_detail' 'abitab' %}?next={{ request.path|urlencode }}">Giro por Abitab</a>
  <a class="payment-method__button" href="{% url 'payment_method_detail' 'redpagos' %}?next={{ request.path|urlencode }}">RedPagos</a>
</div>
