{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}DitaBoutique{% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  {% block top_banner %}
    {% include "top_banner.html" %}
  {% endblock %}

  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}

  <script src="{% static 'css/js/js.js' %}"></script>
  {% block extra_js %}{% endblock %}

</body>
</html>
